html {
	height: 100%;
	display: block;
}
body {
	background: #93E2F9;
	background: -webkit-radial-gradient(bottom, #93E2F9, #797979);
	background: -moz-radial-gradient(bottom, #93E2F9, #797979);
	background: radial-gradient(to top, #93E2F9, #797979);
}
#a_cap {
	border: 2px solid #DEDBD6;
	border-radius: 8px;
	border-left: 43px;
	border-right: 43px;
	text-align: center;
	display: inline-block;
	position: fixed;
	margin-top: 7%;
	margin-left: 16%;
	font-size: 25px;
	font-family: Cunia;
}
#tok {
	border: 2px solid #DEDBD6;
	border-left: 43px;
	border-right: 43px;
	border-radius: 8px;
	position: absolute;
	text-align: center;
	display: block;
	margin-left: 43%;
	margin-right: auto;
	margin-top: 10px;
	font-size: 58px;
	font-family: Briberra;
	src: url(fonts/Briberra.ttf);
	src: url(fonts/Briberra.otf);
}
.btn {
	display: inline-block;
	background: transparent;
	font-size: 18px;
	font-family: Cunia;
	width: 200px;
	padding: 8px;
	color: black;
	border: 3px solid black;
	border-radius: 8px;
	text-align: center;
	outline: none;
	text-decoration: none;
	transition: background-color 0.2s ease-out, color 0.2s ease-out;
}
.btn:hover,
.btn:active {
	background-color: black;
	color: white;
	transition: background-color 0.3s ease-in, color 0.3s ease-in; 
}
#playlist {
	margin-left: 29%;
	margin-top: 20%;
	display: inline-block;
	position: fixed;
}
.btn1 {
	background: transparent;
	font-size: 18px;
	font-family: Cunia;
	width: 45px;
	height: 45px;
	padding: 5px;
	color: black;
	border: 3px solid black;
	border-radius: 8px;
	text-align: center;
	outline: none;
	text-decoration: none;
	transition: background-color 0.2s ease-out, color 0.2s ease-out;
}
.btn1:hover,
.btn1:active {
	background-color: black;
	color: white;
	transition: background-color 0.3s ease-in, color 0.3s ease-in; 
}
.btn2 {
	background: transparent;
	font-size: 30px;
	font-family: Cunia;
	width: 45px;
	height: 45px;
	padding: 5px;
	color: black;
	border: 3px solid black;
	border-radius: 8px;
	text-align: center;
	vertical-align: middle;	
	outline: none;
	text-decoration: none;
	transition: background-color 0.2s ease-out, color 0.2s ease-out;
}
.btn2:hover,
.btn2:active {
	background-color: black;
	color: white;
	transition: background-color 0.3s ease-in, color 0.3s ease-in; 
}
audio {
	display: block;
	position: fixed;
}